.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 3em;
  width: 100vw;
  height: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  }
  
  .container h2{
    color: #575D64;
    font-family: poppins semi bold;
    text-align: center;
    font-size: 3vw;
    margin:0% 0% 0% 0%;
  }
  
  .container img{
  width: 93%;
  height: 100%;
  margin: 1em 1em 1em 1em;
  } 
  
  .Card{
      margin: 1em 1em 1em 1em;
      transition:0.5s;
      cursor:pointer;
      border: solid rgba(0, 0, 0, 0.354) 3px;
      border-radius: 10px;
      width: 40%;
      height: 25%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
  }
  
   
  
  .Card-title{  
      font-size:15px;
      transition:1s;
      cursor:pointer;
    }
    .Card-title i{  
      font-size:15px;
      transition:1s;
      cursor:pointer;
      color:#ffa710
    }
    .Card-title i:hover{
      transform: scale(1.25) rotate(100deg); 
      color:#18d4ca;
      
    }
    .Card:hover{
      transform: scale(1.05);
      box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }
    .Card-text{
      height:80px;  
    }
    
    .Card::before, .Card1::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale3d(0, 0, 1);
      transition: transform .3s ease-out 0s;
      background: rgba(255, 255, 255, 0.1);
      content: '';
      pointer-events: none;
    }
    .Card::before {
      transform-origin: left top;
    }
    .Card::after {
      transform-origin: right bottom;
    }
    .Card:hover::before, .Card1:hover::after, .Card1:focus::before, .Card1:focus::after {
      transform: scale3d(1, 1, 1);
    }
    
    .container li{
    color: #575D64;
    font-family: poppins semi bold;
    text-align: center;
    font-size: 1.5em;
    margin:0% 0% 0% 0%;
    }
  
  .steps{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 3em;
  }
  
  .steps h3{
    color: #575D64;
    font-family: poppins semi bold;
    text-align: center;
    font-size: 1.5vw;
    margin:0% 0% 0% 0%;
  }
  
  .steps div{
  border: solid rgba(0, 0, 0, 0.354) 3px;
  width: 15vw;
  height: auto;
  margin: 0.5vw 1.5vw 1vw 1.5vw;
  padding: 1vw 1vw 1vw 1vw;
  background-color: #f8f8f8;
  font-size: 1.2vw;
  }
  
  .steps div:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .steps div-text{
    height:80px;  
  }
  
  .steps div::before, .steps div::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .steps div::before {
    transform-origin: left top;
  }
  .steps div::after {
    transform-origin: right bottom;
  }
  .steps div:hover::before, .steps div:hover::after, .steps div:focus::before, .steps div:focus::after {
    transform: scale3d(1, 1, 1);
  }