@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,500&display=swap');

.container {
	background-color: #627c8e;
	height: auto;
	display: inline-block;
	/* max-width: 1400px;
min-width: 1400px;  */
	width: 100vw;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.container3 {
	background-color: #627c8e;
	height: 4vw;
	display: flex;
	width: 100vw;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 3vw;
	margin-right: 4vw;
	font-family: 'Open Sans', sans-serif;
}

.container h3 {
	color: white;
	margin-left: 1vw;
	font-size: 1em;
	align-content: flex-start;
}

.navbar {
	height: 7em;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-content: stretch;
	align-items: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	column-gap: 4vw;
}

.navbar img {
	width: 9em;
	height: 6em;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.container2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.search {
	display: flex;
	width: 50vw;
	flex-direction: row;
	flex-wrap: nowrap;
	color: #627c8e;
	justify-content: flex-start;
	padding: 0 0 0 0;
}

.input {
	padding: 0 0 0 0;
	width: 40vw;
	height: 3vw;
	border-radius: 0.25em;
	color: rgb(0, 0, 0);
	margin: 0em 0em 0em 0em;
	font-size: 1.2em;
}

.btnSearch {
	border-radius: 0.25em;
	color: #ffffff;
	margin: 0em 0em 0em 0em;
	padding: 0vw 0vw 0vw 0vw;
	background-color: #627c8e;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	height: 3vw;
}

.btnSearch:hover {
	background-color: #ffffff;
	color: #627c8e;
}

.carrito {
	width: 4vw;
	height: 5vw;
	margin-left: 0em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0em;
}

.carrito img {
	width: 2.5vw;
	height: 2.5vw;
	margin: 0 0 0 0;
}

.badge {
	background-color: #f02020;
	color: #ffffff;
	border-radius: 100%;
	padding: 0.2vw 0.4vw;
	font-size: 1vw;
}

.badge:hover {
	background-color: #ffffff;
	color: #f02020;
	cursor: pointer;
}

.btn {
	border-radius: 1.87rem;
	border: solid 0.2em #627c8e;
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;
	color: #627c8e;
	margin: 0em 0em 0em 0em;
	font-family: 'Open Sans', sans-serif;
}

.btn:hover {
	background-color: #627c8e;
	color: #ffffff;
	cursor: pointer;
}

.signin {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 0.6vw;
	margin: 0 0 0 5vw;
}

.nav {
	margin-left: 0.5vw;
	color: #627c8e;
	text-decoration: none;
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;
	border: solid 0.2em #627c8e;
	border-radius: 0.7em;
	font-size: 1vw;
}

@media (max-width: 1199.98px) {
	.container,
	.container2,
	.container3 {
		width: 100vw;
	}
	.menu {
		justify-content: center;
	}
}

@media (max-width: 991.98px) {
	.container,
	.container2,
	.container3 {
		width: 100vw;
	}
}

@media (max-width: 767.98px) {
	.navbar {
		display: flex;
		flex-direction: column;
		padding: 0 0 0 0;
	}

	.navbar img {
		margin-left: 3vw;
		margin-right: 0vw;
		margin-top: 0;
		padding: 0 0 0 0;
	}
	.container3 {
		background-color: #ffffff;
	}

	.container2 {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-bottom: 5vw;
		padding-top: 1.3vw;
		padding-left: 0;
		padding-right: 0;
		height: 10vw;
	}

	.navbar img {
		padding-top: 3vw;
	}
	.input,
	.btnSearch {
		height: 4vw;
	}

	.nav {
		font-size: 1em;
	}
	.carrito img {
		width: 4vw;
		height: 4vw;
		margin: 0 0 0 4vw;
	}
}

@media (max-width: 575.98px) {
	.input,
	.btnSearch {
		height: 7vw;
	}
}
