@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,500&display=swap');

.container{
background-color: #627C8E;
height: auto;
display: inline-block;
/* max-width: 1400px;
min-width: 1400px;  */
width: 100vw;
padding: 0 0 0 0;
margin: 0 0 0 0;
}

.container3{
    background-color: #627C8E;
    height: 4vw;
    display: inline-block;
    width: 100vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    }

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3vw;
    margin-right: 4vw;
    font-family: 'Open Sans', sans-serif;
    
}

.container h3{
    color:white;
    margin-left: 1vw;
    font-size: 1vw;
    align-content: flex-start;
}


.navbar { 
height: 7em;
width: 100vw;
display: flex;
flex-direction: row;
align-content: stretch;
align-items: center;
padding: 0 0 0 0; 
margin: 0 0 0 0;
column-gap: 4vw;
}

.navbar img{
width: 10vw;
height: 7vw;
margin-left: 3vw;
margin-right: 3vw;
}

.container2{
    display: flex;
    flex-direction: row;

}

.search{
    display: flex;
    width: 40vw;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #627C8E;
    justify-content: flex-start;
    padding: 0 0 0 0;
}

.input{
    padding: 0 0 0 0;
    width: 30vw;
    height: 3vw;
    border-radius: 0.25em;
    color: rgb(0, 0, 0);
    margin: 0em 0em 0em 0em;
    font-size: 1.2vw;
}

.btnSearch{
    border-radius: 0.25em;
    color: #ffffff;
    margin: 0em 0em 0em 0em;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    background-color: #627C8E;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    height: 3vw;
}

.btnSearch:hover{
    background-color: #ffffff;
    color: #627C8E;
    
}

.carrito{
    width: 4vw;
    height: 5vw;
    margin-left: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0em;
    
}

.carrito img{
    width: 2.5vw;
    height: 2.5vw;
    margin: 0 0 0 0;
}

.badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 100%;
    padding: 0.2vw 0.4vw;
    font-size: 1vw;
  
  }

.badge:hover {
        background-color: #ffffff;
        color: #f02020;
        cursor: pointer;
    }

    .btn{
        border-radius: 1.87rem;
        border: solid 0.2em #627C8E;
        padding: 0.5vw 0.5vw 0.5vw 0.5vw;
        color: #627C8E;
        margin: 0em 0em 0em 0em;
        font-family: 'Open Sans', sans-serif;
    }

    .btn:hover{
        background-color: #627C8E;
        color: #ffffff;
        cursor: pointer;
    }


.signin{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.6vw;
    margin: 0 0 0 5vw;
}

.nav{
    margin-left: 0.5vw;
    color: #627C8E;
    text-decoration: none;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    border: solid 0.2em #627C8E;
    border-radius: 0.7em;
    font-size: 1vw;
}


@media (max-width: 1199.98px) {
    
    .container, .container2, .container3{
        width: 100vw;
    }
    .menu{
        justify-content:center;
      
    }


 }

@media (max-width: 991.98px) { 
    .container, .container2, .container3{
        width: 100vw;
    }

}

@media (max-width: 767.98px) { 
    .navbar { 
        display: flex;
        flex-direction: column;
        padding: 0 0 0 0;
        }

        .container2{
            display: flex;
            flex-direction: row;
        
        }
  
}






@media (max-width: 575.98px) {


 }