.container {
	display: flex;
	flex-direction: column;
	column-gap: 3vw;
	width: 100vw;
	height: auto;
	margin-bottom: 3vw;
	margin-top: 2em;
}

.container h2,
h1,
p,
div,
strong {
	color: #2f4a5d;
	font-size: 1.5rem;
}

.container1 {
	display: flex;
	flex-direction: row;
	column-gap: 3vw;
	width: 100vw;
	height: auto;
}

.col1 {
	margin-left: 3em;
	width: 50%;
	height: 50%;
	color: #2f4a5d;
}

.check {
	border: solid 1px #2f4a5d;
	border-radius: 5px;
	background-color: #f9f6f6;
	color: #2f4a5d;
	width: 25%;
	height: 40%;
}

.btn {
	background-color: #627c8e;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 1em;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	width: 60%;
	margin-left: 18%;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: #18d4ca;
}

.btn:focus {
	background-color: #18d4ca;
}

.btn:active {
	background-color: #18d4ca;
}

.btn:disabled {
	background-color: #18d4ca;
}

.btn:disabled:hover {
	background-color: #18d4ca;
}

@media (max-width: 767.98px) {
	.container h2,
	h1,
	p,
	div,
	strong {
		color: #2f4a5d;
		font-size: 1.3rem;
	}

	.container {
		margin-top: 3em;
	}
}

@media (max-width: 575.98px) {
	.container h2,
	h1,
	p,
	div,
	strong {
		color: #2f4a5d;
		font-size: 1rem;
	}
	.container {
		margin-top: 4em;
	}
}
