@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,500&display=swap');

.container {
	display: flex;
	flex-direction: row;
	column-gap: 1vw;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	margin-bottom: 3vw;
	margin-top: 2em;
}

.container h1,
label {
	color: #627c8e;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5rem;
}

.container button {
	background-color: #627c8e;
	color: white;
	border: none;
	border-radius: 1em;
	padding: 1em;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	width: 70%;
	margin-left: 15%;
	transition: all 0.3s ease-in-out;
}

.container button:hover {
	background-color: #18d4ca;
}

.container button:focus {
	background-color: #18d4ca;
}

.container button:active {
	background-color: #18d4ca;
}

.container button:disabled {
	background-color: #18d4ca;
}

.container button:disabled:hover {
	background-color: #18d4ca;
}

@media (max-width: 767.98px) {
	.container {
		margin-top: 3em;
	}
}

@media (max-width: 575.98px) {
	.container {
		margin-top: 4em;
	}
}
